<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/primitive.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/pages/{{ title }}.css" rel="stylesheet"/>
</head>
<body>
<div class="layout-container">
    <div class="split-left">
        {{> menu }}
    </div>
    <div class=split-right>
        {{{ body }}}
    </div>
</div>
</body>
</html>

<style>
    body {
        margin: 0;
    }
</style>
