<div class="search-page">
    <h1>Search</h1>
    <div class="search-left">
    <form>
        <label for="search"></label>
        <input type="text" id="search" placeholder="Search album, artist etc.">
    </form>
    <table>
        <thead>
        <tr>
            <th>Folder</th>
            <th>File Type</th>
            <th>Download Size</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
    <div class="search-right">
        <div class="info-port">
            <img src="/images/logo.png" alt="cover" class="cover"/>
        </div>
    </div>
</div>
