<div class="full-container">
    <div class="text-center">
        <img alt="logo" src="images/logo.png"/>
    </div>
    <form class="input-form" action="/user" method="post">
        <h2>Soulseek login</h2>
        <label for="username">Username</label>
        <input placeholder="Your Soulseek username" id="username" name=username type="text"/>
        <label for="password">Password</label>
        <input placeholder="******" id="password" type="password" name="password"/>
        <input type="submit" value="Submit"/>
    </form>
</div>
<script>
</script>
